:root {
  --surface-1-light: #B9EFE5;
  --surface-2-light: #B9EFE5;
  --text-1-light: #6041F8;
  --text-2-light: #6041F8;
  --surface-1-dark: #214A52;
  --surface-2-dark: #214A52;
  --text-1-dark: #C8E9B9;
  --text-2-dark: #C8E9B9;
}
